pre code {
      background: none;
      padding: 0;
      overflow: visible;
      overflow-wrap: normal;
}

code {  
      font-family: monospace;  
      font-size: 150%;
}

pre {
      background: lightgrey;   
      border: double green;
}
