pre code {
      background: none;
      padding-left: 20px;
      margin-left: 20px;
      overflow: visible;
      overflow-wrap: normal;
}

code {  
      font-family: monospace, Arial, 'Lucida Console', Consolas;  
      font-style: normal;
      font-size: 24px;
}

pre {
      background: lightgrey;   
      border: solid green 1px;
}
