pre code {
      background: none;
      padding: 0;
      overflow: visible;
      overflow-wrap: normal;
}

code {  
      font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;  
      font-color: red;
      color: red;
      text-color: red;
}

pre {
      background: lightgrey;   
      border: double green;
}
